/*.body{
    background-color: #1c2a44;
}*/
ul{
    margin:5% auto;
    width:900px;
    display:flex;
    flex-direction: row;
    list-style: none;
    padding:25px 0;
    border-radius:25px;
    border: 0.1px solid #099fff;
    background-color: #181818;
    box-shadow: 0 4px 8px 0 #00ffff, 0 6px 20px 0 rgba(0,0,0,0.19);
}
li{
    margin:auto;
   color:#ffffff;
   font-size:20px;
   cursor: pointer;
}
li::after{
    content:'';
    display: block;
    border-bottom: solid 1px #00FFFF;
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
li:hover:after{
    transform:scaleX(1);
    
}